.MainTable
  .MainHeader
    .MainHeader__group
      .MainHeader__groupName
        = @group.name
      %ul.MainHeader__memberList
        Member : 
        %li.MainHeader__member
          - @group.users.each do |user|
            = user.name
    .MainHeader__Edit-form
      = link_to edit_group_path(current_user), class:"MainHeader__Edit-btn" do
        Edit
  .ChatTable
    = render @messages
  .Footer
    .FormBox
      =form_with model: [@group, @message], html: {class: "FormBox"}, local: true do |f|
        .MessageForm
          = f.text_field :body, class: "MessageForm__text", placeholder: "type a message"
          = f.label :image, class: "MessageForm__label" do
            = icon('far', 'image', class: "MessageForm__image")
            = f.file_field :image, class: "MessageForm__file"
        =f.submit 'Send', class: "Send-btn"